h2::before{
    content: "👉";
}

li::after{
    content: "✔";
}

p::first-letter{
    color: red;
    font-size: larger;
}

p::first-line{
    background-color: yellow;
}

p::selection{
    background-color: green;
}