*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    background-color: #111114;
    color: #fffeff;
    margin-left: 10%;
    margin-right: 10%;
}

/* start nav */

.nav{
    display: flex;    
    justify-content: space-between;
    height: 4rem;
    margin-top: 2rem;
    max-width: 1440px;    
}

.nav .nav_list{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav .nav_list li{
    list-style: none;
}

.nav .nav_list li a{
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    font-size: 1.6rem;
}

.nav .nav_list li:nth-child(2) a{
    color: var(--Dark-Orange, #FB8F2C);
}

.nav .nav_logo img{
    height: 100%;
    align-items: center;
}

.nav .nav_function{
    display: flex;
    gap: 3.5rem;
    align-items: center;
    font-size: 1.6rem;

}

.nav .nav_function a{
    color: #fff;    
}

/* end nav */

/* start header */
header{
    margin-top: 8rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

header .content{
    width: 45%;
}

header .img{
    width: 45%;
}
/* end header */

/* start main */


/* end main */

/* start footer */
footer{
    display: flex;
    margin-top: 10rem;
    gap: 3rem;
    justify-content: space-between;
    position: relative;
}

.footer_logo{
    display: flex;
    gap: 2rem;
    width: 20%;
}

.footer_logo h3{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    display: block;
}

.footer_logo img{
    width: 30%;
    height: 30%;
}

.usefull_link,
.follow_us{
    width: 15%;
}

.contact_info{
    width: 20%;
}

.usefull_link h3,
.contact_info h3,
.follow_us h3,
.legal h3{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem; /* 130% */
}

footer ul{
    margin-top: 3rem;
}

.usefull_link li,
.contact_info li,
.follow_us li,
.legal li{
    list-style: none;
}

.usefull_link li a,
.contact_info li a,
.legal li a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
}

.contact_info li:nth-child(2) a{
    color: #FB8F2C;
}

.follow_us li a{
    color:  rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
}

.download{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 25rem;
}

.download p{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
    width: 80%;
}

.download .download_img{
    display: flex;
    color: #FFF;
    background-color: #FFF;
    width: 100%;
    height: auto;
}

.download .download_img img{
    width: 50%;
}
/* end footer */