*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    background-color: #111114;
    color: #fffeff;
}

/* common */
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}


/* start nav */

.nav{
    display: flex;    
    justify-content: space-between;
    height: 4rem;
    margin-top: 2rem;
    max-width: 1440px;    
}

.nav .nav_list{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav .nav_list li{
    list-style: none;
}

.nav .nav_list li a{
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    font-size: 1.6rem;
}

.nav .nav_list li:nth-child(2) a{
    color: var(--Dark-Orange, #FB8F2C);
}

.nav .nav_logo img{
    height: 100%;
    align-items: center;
}

.nav .nav_function{
    display: flex;
    gap: 3.5rem;
    align-items: center;
    font-size: 1.6rem;

}

.nav .nav_function a{
    color: #fff;    
}

/* end nav */

/* start main */

/* start menu */
.menu{
    margin-top: 10rem;
}

.menu h1{
    color: #FFF;
    text-align: center;
    font-family: "Libre Bodoni";
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.4rem; /* 115.625% */
    text-transform: capitalize;
    margin: 0 auto;    
}

.menu img{
    margin: 0 auto;    
    display: block;
}

.order{
    display: flex;
    gap: 5rem;
    position: relative;
    margin-top: 10rem;
}

.order .item{
    width: 30%;
}

.order .item img{
    cursor: pointer;
}

.order .item h2{
    margin: 2rem 0;
    color:  #FFF;
    font-family: "Libre Bodoni";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.4rem; /* 141.667% */
    text-transform: capitalize;
    cursor: pointer;
}

.order .item p{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
}

.order .item .line{
    display: block;
    opacity: 0.2;
    background: rgba(255, 255, 255, 0.80);
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

.order .item .button_price{
    display: flex;
    justify-content: space-between;
}

.order .item .button_price a{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
}

.order .item .button_price p{
    color: #FFF;
    font-family: "Libre Bodoni";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.4rem; 
    text-transform: capitalize;
}

.order .row{
    position: absolute;
    right: -6%;
    top: 25%;
    cursor: pointer;
}

/* start poster */
.poster{
    background: url('../IMG/MenuPage/bg_poster.png');
    background-size: contain;
    width: 100%;
    margin-top: 8rem;
    padding: 5rem 0;
}

.poster .box{
    width: 50%;
    margin: 0 auto;
    background: rgba(17, 17, 20, 0.50);
    backdrop-filter: blur(2px);
    align-items: center;
    padding: 2rem 6rem;
}

.poster .box h2{        
    color: #FFF;
    text-align: center;
    font-family: "Libre Bodoni";
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.4rem; 
    text-transform: capitalize;
    margin-top: 2rem;
}

.poster .box p{
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.8rem; 
}

.poster .box button{
    display: block;
    padding: 8px 30px;
    background: rgba(251, 143, 44, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    margin: 2rem auto;
    cursor: pointer;    
}

.poster .box button a{
    color: #FFF;
    text-decoration: none;
}
/* end poster */
/* end menu */

/* end main */

/* start footer */
footer{
    display: flex;
    margin-top: 10rem;
    gap: 3rem;
    justify-content: space-between;
    position: relative;
}

.footer_logo{
    display: flex;
    gap: 2rem;
    width: 20%;
}

.footer_logo h3{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    display: block;
}

.footer_logo img{
    width: 30%;
    height: 30%;
}

.usefull_link,
.follow_us{
    width: 15%;
}

.contact_info{
    width: 20%;
}

.usefull_link h3,
.contact_info h3,
.follow_us h3,
.legal h3{
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem; /* 130% */
}

footer ul{
    margin-top: 3rem;
}

.usefull_link li,
.contact_info li,
.follow_us li,
.legal li{
    list-style: none;
}

.usefull_link li a,
.contact_info li a,
.legal li a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
}

.contact_info li:nth-child(2) a{
    color: #FB8F2C;
}

.follow_us li a{
    color:  rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
}

.download{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 25rem;
}

.download p{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem; /* 162.5% */
    width: 80%;
}

.download .download_img{
    display: flex;
    color: #FFF;
    background-color: #FFF;
    width: 100%;
    height: auto;
}

.download .download_img img{
    width: 50%;
}
/* end footer */