*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

button{
    display: block;
    margin: 10px auto;    
    border: none;
    background-color: #cccccc;
    color: #f7fffb;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    overflow: hidden;
    transition: left 0.3s;    
}

/*
    before và after của anh đâu khác gì nhau đâu anh, anh sử dụng 1 thằng thôi
*/

/* 
    ở before anh sử dụng 2 giá trị thôi không khai báo cả 4 giá trị khi không dùng đên
    anh xác định xem anh cần định vị ở đâu khi chưa hover thì anh ghi ra
    còn đâu anh xoá bỏ


    khi hover cùng vậy chỉ khai báo thuộc tính cần định vị ra thôi 


    trường hợp khai báo cả 4 thuộc tính nhu mấy hôm trước làm cái ovelay á anh
    đó là 1 vidu khi dùng cả 4 thuộc tính còn đâu đa số là dùng 2 thuộc tính thôi anh


    anh làm lại xem
    OK rồi em. Còn animation 2 anh chưa hiểu cách làm


    ban đầu anh xác định điểm của nó

    anh để ý nhé ban đầu cái before nó có w và h là 0 thì nó sẽ không hiển thị màu đùng k anh

    tiếp khi bỏ hover thì nó sẽ xuống góc dưới bên phải thì nó là trạng thái ban đầu của before
    còn khi hove anh định vị nó ở góc trên trái là được. anh làm thử đi
    Ok rồi e. Cảm ơn e nha

*/

button::before{
    content: "";
    background-color: red;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    /* right: 100%;
    bottom: 100%;         */
    transition: 0.5s;
}


button:hover::before {
    /* right: 0;
    bottom: 0;    */
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}


