@media screen and (max-width: 376px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    width: 339px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .nav{
    position: relative;
  } */

  .nav_list li,
  .nav_function > p {
    display: none;
  }

  .nav_btn {
    display: block;
  }

  .nav_btn:focus {
    opacity: 0.5;
    /* display: block; */
  }

  header h1 {
    width: 100%;
    line-height: 52px;
    font-size: 36px;
  }

  header p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
    padding-bottom: 1rem;
  }

  /* nav mobile */
  .btn_mobile {
    display: block;
  }

  .menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    z-index: 100;
    background: #333;
    color: #fff;
    /* padding: 15px; */
    transition: left 0.3s;
  }

  .menu > button {
    margin: 1rem 15rem 1rem 0;
    text-align: right;
    display: block;
  }

  .overlay {
    position: absolute;
    inset: 0;
    z-index: 99;
    background: #00000075;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  #toggle-menu:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
    width: 340px;
    height: 10000%;
  }

  span:active {
    left: -250px;
  }

  #toggle-menu:checked + .menu {
    left: 0px;
    z-index: 100;
    /* display: block; */
  }

  #toggle-menu:checked ~ span {
    display: block;
    z-index: 99;
  }

  .nav_btn {
    width: 30px;
    height: 30px;
    background-color: #000;
    border: none;
  }

  .nav_list_sub {
    display: inline-block;
    width: 100%;
  }

  .nav_list_sub li {
    list-style: none;
    padding: 20px 10px;
    /* background-color: #000; */
    /* width: 200px; */
    border: solid rgba(255, 255, 255, 0.3) 0.5px;
  }

  .nav_list_sub li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding-left: 1rem;
  }

  .nav_list_sub li:hover a {
    color: #fb8f2c;
    cursor: pointer;
  }

  .nav .nav_logo img {
    margin-left: 42px;
  }

  /* start main */
  main {
    position: relative;
    margin-top: -6rem;
  }

  .cart_table {
    display: none;
  }

  .sub_cart_table {
    display: block;
    margin-top: 12rem;
  }

  .item {
    border: rgba(255, 255, 255, 0.3) 0.1px solid;
    padding: 2rem;
  }

  .item .img {
    width: 100%;
    background-color: #111114;
  }

  .item .img img {
    height: 2.4rem;
    background-color: #111114;
    margin: 0 auto;
    display: block;
  }

  .item .food,
  .item .price,
  .item .quantity,
  .item .subtotal {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  .item h3 {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
  }

  .item p {
    color: #fff;
    text-align: right;
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
  }

  .btn {
    border: solid rgba(255, 255, 255, 0.8) 0.5px;
    display: flex;
    align-items: center;
    max-width: 14rem;
    height: 4rem;
  }

  .btn button {
    width: 40px;
    height: 100%;
    background-color: #111114;
    color: #fff;
    /* padding: 1.2rem 2rem; */
    border: none;
    cursor: pointer;
  }

  .btn button:hover {
    background-color: #8c8c8d;
  }

  .item .img img:hover {
    opacity: 0.5;
  }

  .btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 100%;
    border-left: solid rgba(255, 255, 255, 0.8) 0.5px;
    border-right: solid rgba(255, 255, 255, 0.8) 0.5px;
  }

  .cart_totals .none {
    display: none;
  }

  .cart_totals .cart_totals_table {
    width: 100%;
  }

  .table .subtotal,
  .table .shipping {
    gap: 3.2rem;
  }

  .table .total {
    gap: 6rem;
  }

  #address,
  .shipping_detail input {
    width: 19rem;
  }

  .table_btn {
    display: block;
    padding: 2rem;
  }

  .table_btn .update {
    display: flex;
    justify-content: space-between;
  }

  .table_btn .update button {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .table_btn .update button:first-child,
  .table_btn .update button:last-child {
    padding: 0.8rem 1rem;
    width: 50%;
  }

  .table_btn > button {
    margin-top: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  /* footer */

  footer {
    margin-top: 7rem;
    display: block;
    position: relative;
  }

  .footer_logo,
  .usefull_link,
  .contact_info,
  .follow_us,
  .legal {
    width: 100%;
  }

  .follow_us,
  .legal {
    margin-top: 4rem;
  }

  .footer_logo {
    margin-bottom: 5rem;
    height: 4.8rem;
  }

  .footer_logo img {
    height: 100%;
    width: 4.8rem;
  }

  .contact_info {
    position: absolute;
    left: 50%;
    top: 14%;
    width: 139px;
  }

  .download {
    left: 0;
    bottom: -150px;
  }
}
